.cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
    z-index: 9999;
    transition: opacity 0.3s ease;
    will-change: transform;
    mix-blend-mode: difference;
}

.cursor.hidden {
    opacity: 0;
}

.cursor .cursor-caret {
    pointer-events: none;
    user-select: none;
    display: block;
    border: 2px solid white;
    background-color: #c4c4c44b;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: transform 0.15s ease, width 0.2s ease, height 0.2s ease, border-radius 0.2s ease;
}

.cursor.text .cursor-caret {
    width: 0px;
    height: 20px;
    border-radius: 3px;
}

.cursor.pointer .cursor-caret {
    width: 20px;
    height: 20px;
}

.cursor .cursor-caret-border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    animation: spin 5s linear infinite;
    transition: width 0.2s ease, height 0.2s ease;

    --border-color: white;
    --border-length-x: 6px;
    --border-length-y: 6px;
}

.cursor .cursor-caret-border::before,
.cursor .cursor-caret-border::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.cursor .cursor-caret-border::before {
    background:
        linear-gradient(to right, var(--border-color) var(--border-length-x), transparent var(--border-length-x)) top left,
        linear-gradient(to left, var(--border-color) var(--border-length-x), transparent var(--border-length-x)) top right,
        linear-gradient(to right, var(--border-color) var(--border-length-x), transparent var(--border-length-x)) bottom left,
        linear-gradient(to left, var(--border-color) var(--border-length-x), transparent var(--border-length-x)) bottom right;
    background-repeat: no-repeat;
    background-size: var(--border-length-x) 2px;
}

.cursor .cursor-caret-border::after {
    background:
        linear-gradient(to bottom, var(--border-color) var(--border-length-y), transparent var(--border-length-y)) top left,
        linear-gradient(to bottom, var(--border-color) var(--border-length-y), transparent var(--border-length-y)) top right,
        linear-gradient(to top, var(--border-color) var(--border-length-y), transparent var(--border-length-y)) bottom left,
        linear-gradient(to top, var(--border-color) var(--border-length-y), transparent var(--border-length-y)) bottom right;
    background-repeat: no-repeat;
    background-size: 2px var(--border-length-y);
}


@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.cursor.pointer .cursor-caret-border {
    width: 26px;
    height: 26px;
}
