@use "mixins" as *;

.footer {
    position: relative;
    width: 100%;

    // @include flex(column);

    height: 40rem;
    background-color: var(--color-background-darker);
    will-change: transform;
    overflow: hidden;

    &__bg {
        position: absolute;
        z-index: 0;
        opacity: 0.8;
        inset: 0;
        background-image: url("/media/mandelbulb.png");
        background-size: cover;
        background-position: center;
        mask-image: radial-gradient(circle, var(--color-background) 10%, transparent 100%), linear-gradient(to bottom, transparent 0%, var(--color-background) 20%, var(--color-background) 80%, transparent 100%);
        mask-composite: intersect;         /* firefox */
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
    }

    &__inner {
        position: relative;
        z-index: 1;
        max-width: calc(1300px + 2rem);
        height: 100%;
        padding: 4rem 1rem;
        container-type: inline-size;
        margin-inline: auto;

        @media screen and (width >= 768px) {
            padding-block: 2rem;
        }
    }

    &__connect {
        @include flex(column, flex-start, stretch);

        gap: 1rem;
    }

    &__bottom {
        @include flex(column);

        position: absolute;
        bottom: 2rem;
        left: 0;
        gap: 0.5rem;
        width: 100%;
        color: var(--color-secondary);
        text-align: center;
    }

    &__heading {
        width: calc(100% + 0.1em);
        background: linear-gradient(to bottom, var(--color-secondary), transparent 90%);
        color: transparent;
        font-family: "JetBrains Mono", monospace;
        font-size: 13.1cqw;
        user-select: none;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: -0.1em;
        white-space: nowrap;
        background-clip: text;

        @media screen and (width >= 768px) {
            background: linear-gradient(to bottom, var(--color-secondary), transparent 80%);
            color: transparent;
            background-clip: text;
        }
    }

    &__links {
        @include flex($justify: flex-start);

        gap: 1rem;
    }

    &__link {
        @include flex($justify: flex-start);

        gap: 0.2rem;
        cursor: none;

        svg { 
            width: 25px; 
            height: 25px; 
            transition: fill 0.3s ease;
            fill: var(--color-primary); 
            pointer-events: none;
        } 

        &:hover svg {
            fill: var(--color-secondary);
        }
    }

    &__credit {
        font-size: 0.8rem;
    }
}