.hero {
    position: relative;
    height: 100%;

    &__content {
        position: relative;
        z-index: 2;
    }

    &__title {
        font-family: "Palanquin Dark", sans-serif;

        // font-size: 100pt;
    }
}