@use "mixins" as *;
@use "animations";

.loader {
    position: fixed;
    z-index: 1000;
    gap: 5rem;
    width: 100vw;
    height: 100svh;
    background: radial-gradient(circle at center bottom, var(--color-background-01), var(--color-background) 80%);
    inset: 0;
    overflow: hidden;
    touch-action: none;
    transform: translateZ(0);

    @include flex(column);

    &__icon {
        width: 20cqw;
        min-width: 80px;
        max-width: 100px;

        @include animations.fade(1s, 0.5);
    }
}

.loader-progress {
    width: 300px;
    max-width: calc(100% - 4rem);
    height: 3px;
    border-radius: 1rem;
    background-color: var(--color-background-02);
    overflow: hidden;

    &__indicator {
        height: 100%;
        background-color: #f3f3f3;
        transition: width 0.5s ease-out;

        @media (prefers-reduced-motion: reduce) {
            transition-duration: 0s;
        }
    }
}