.loader-entry {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100dvh;
    background-color: var(--color-background);
    font-family: "JetBrains Mono", monospace;
}

.loader-entry .hello {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 101;   
    font-family: "JetBrains Mono", monospace;
    font-size: max(10cqw, 3.5rem);
    backface-visibility: hidden;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-transform: uppercase;
}

.loader-entry .boot-text {
    display: flex;
    position: absolute;
    z-index: 100;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    padding: 1rem;
    font-family: "JetBrains Mono", monospace;
    font-size: max(0.8rem, 1cqw);
    user-select: none;
    pointer-events: none;
}