.loader-entry {
    position: fixed;
    font-family: "JetBrains Mono", monospace;
    width: 100%;
    height: 100dvh;
    background-color: var(--color-background);
    z-index: 1000;
}

.loader-entry .hello {
    backface-visibility: hidden;   
    font-family: "JetBrains Mono", monospace;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: max(10cqw, 3.5rem);
    white-space: nowrap;
    text-transform: uppercase;
    z-index: 101;
}

.loader-entry .boot-text {
    font-family: "JetBrains Mono", monospace;
    z-index: 100;
    padding: 1rem;
    position: absolute;
    width: 100%;
    height: 100dvh;
    font-size: max(0.8rem, 1cqw);
    display: flex;
    flex-direction: column;
    user-select: none;
    pointer-events: none;
}