@use "mixins" as *;

.navbar-wrapper {
    @include flex;

    position: fixed;
    top: 1rem;
    z-index: 999;
    width: 100%;
}

.navbar {
    @include flex(column);

    top: 1rem;
    z-index: 999;
    width: 100%;
    max-width: min(1300px, calc(100% - 2rem));
    min-height: 3rem;
    padding: 0.8rem;
    border: 1px solid var(--color-border);
    border-radius: 0.8rem;
    background-color: #0c0c0c9c;
    will-change: height;
    backface-visibility: hidden;
    backdrop-filter: blur(10px);
    overflow: hidden;

    &__body {
        @include flex($justify: space-between);

        width: 100%;
        height: 2.2rem;
    }

    &__brand {
        @include flex;

        gap: 0.5rem;
        font-family: "JetBrains Mono", monospace;
        flex-shrink: 0;

        svg { 
            width: 25px; height: 25px; 
        }
    }

    &__items {
        @include flex;

        gap: 0.5rem;

        @media (width <= 768px) {
            display: none;
        }
    }

    &__opener {
        display: none;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        width: 20px;
        height: 32px;
        padding: 0;
        border: none;
        background: transparent;

        @media (width <= 768px) {
            display: flex;
        }

        .line {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: white;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            pointer-events: none;
            backface-visibility: hidden;
            transform-origin: center center;
        }

        &.active {
            .line:first-child {
                transform: translateY(3px) rotate(45deg);
            }

            .line:last-child {
                transform: translateY(-4px) rotate(-45deg);
            }
        }
    }

    &__item {
        position: relative;
        height: 2.2rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        color: rgb(255 255 255 / 70%);
        font-size: 0.9375rem;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        will-change: scale;
        font-weight: 500;
        user-select: none;
        overflow: hidden;

        &:hover {
            background: rgb(255 255 255 / 5%);
            color: #fff;
        }

        &:active {
            transform: scale(0.95);
        }

        &.prominent {
            background: #0069e0;
            color: white;
        }

        &.prominent:hover {
            background: #0057bb;
        }
    }

    &__mobile {
        width: 100%;

        @media (width >= 768px) {
            display: none;
        }
    }

    &__mobile-item {
        @include flex($justify: flex-start,$align: flex-end);

        gap: 0.5rem;
        color: rgb(255 255 255 / 70%);
        font-size: 1.125rem;
        transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        padding-block: 1rem;
        font-weight: 500;
        border-bottom: 1px solid rgb(255 255 255 / 5%);
        user-select: none;

        .item-idx {
            color: var(--color-secondary);
            font-family: "JetBrains Mono", monospace;
            font-size: 12px;
            pointer-events: none;
            padding-bottom: 2px;
        }

        .item-title {
            color: inherit;
            pointer-events: none;
        }

        &:first-child {
            margin-top: 0.5rem;
            border-top: 1px solid var(--color-border);
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        &:hover {
            color: #fff;
        }                   
    }
}