@use "mixins" as *;

.navbar-wrapper {
    @include flex;

    position: fixed;
    top: 0.5rem;
    left: 0;
    z-index: 999;
    width: 100%;
}

.navbar {
    @include flex(column);

    z-index: 999;
    width: 100%;
    max-width: min(1000px, calc(100% - 2rem));
    height: 3.25rem;
    padding: 0.5rem;
    background-color: #0c0c0c9c;
    box-shadow: 0 0 5px #00000020;
    will-change: height;
    border-bottom: 1px solid #ffffff40;
    backface-visibility: hidden;
    backdrop-filter: blur(10px);
    overflow: hidden;

    &__body {
        @include flex($justify: space-between);

        width: 100%;
        height: 2.2rem;
    }

    &__brand {
        @include flex;

        gap: 0.5rem;
        height: 100%;
        font-family: "JetBrains Mono", monospace;
        transition: transform 0.2s ease, background-color 0.2s ease;
        will-change: scale;
        aspect-ratio: 1;
        cursor: pointer;
        flex-shrink: 0;

        svg { 
            width: 25px; height: 25px; 
            pointer-events: none;
        }

        &:hover {
            background: var(--color-accent-01);
        }

        &:active {
            transform: scale(0.98);
        }
    }

    &__items {
        @include flex;

        gap: 0.5rem;

        @media (width <= 768px) {
            display: none;
        }
    }

    &__opener {
        display: none;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        width: 20px;
        height: 32px;
        padding: 0;
        border: none;
        background: transparent;

        @media (width <= 768px) {
            display: flex;
        }

        .line {
            width: 100%;
            height: 2px;
            background-color: white;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            pointer-events: none;
            backface-visibility: hidden;
            transform-origin: center center;
        }

        &.active {
            .line:first-child {
                transform: translateY(3px) rotate(45deg);
            }

            .line:last-child {
                transform: translateY(-4px) rotate(-45deg);
            }
        }
    }

    &__item {
        position: relative;
        height: 2.2rem;
        padding: 0.5rem 1rem;
        border: none;
        background-color: inherit;
        color: rgb(255 255 255 / 70%);
        font-family: inherit;
        font-size: 0.9375rem;
        transition: color 0.2s ease, background-color 0.2s ease, transform 0.2s ease;
        will-change: scale;
        cursor: pointer;
        font-weight: 500;
        user-select: none;
        overflow: hidden;

        &:hover {
            background: rgb(255 255 255 / 5%);
            color: #fff;
        }

        &:active {
            transform: scale(0.98);
        }

        &.prominent {
            border: 1px solid #4197d1;
            background: #107bc2;
            color: white;
        }

        &.prominent:hover {
            background: #1787d1;
        }
    }
}

.navbar-mobile-wrapper {
    @include flex;

    position: fixed;
    bottom: -1px;
    left: 0;
    z-index: 999;
    width: calc(100% + 1px);
    background-color: var(--color-background-02);
    box-shadow: 0 0 5px #00000020;
}

.navbar-mobile {
    z-index: 999;
    width: 100%;
    height: 75px;
    padding: 0.5rem;
    backface-visibility: hidden;
    overflow: hidden;
    
    &__items {
        @include flex;

        position: relative;
        gap: 0.5rem;
        max-width: 100%
    }

    &__item {
        @include flex(column);

        position: relative;
        gap: 0.1rem;
        width: 80px;
        min-width: 0;
        padding: 0.5rem 1rem;
        border: none;
        background-color: inherit;
        color: var(--color-secondary);
        font-family: inherit;
        font-size: 12px;
        transition: color 0.2s ease, background-color 0.2s ease, transform 0.2s ease;
        will-change: scale, transform;
        white-space: nowrap;
        cursor: pointer;
        font-weight: 500;
        user-select: none;
        
        &::after {
            position: absolute;
            top: 0;
            left: 50%;
            width: clamp(15px, 5cqw, 25px);
            height: 2px;
            background-color: var(--color-accent);
            box-shadow: 0 0 20px 2px var(--color-accent);
            opacity: 0;
            transition: opacity 0.2s ease;
            transform: translateX(-50%);
            content: "";
        }

        svg {
            width: 25px;
            height: 25px;
            flex-shrink: 0;
        }

        &.active {
            color: white;
            transform: translateY(0.25rem);

            &::after {
                opacity: 1;
            }
        }
    }
}

.button-recenter {
    @include flex(row);

    z-index: 99;
    gap: 0.25rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--color-border-accent);
    background: linear-gradient(to bottom, var(--color-accent));
    color: var(--color-primary);
    opacity: 0;
    font-family: "Instrument Sans", sans-serif;
    font-size: 14px;
    transition: scale 0.2s ease;
    will-change: transform;
    font-weight: 500;
    cursor: pointer;
    scale: 1;

    &:active {
        scale: 0.98;
    }

    svg {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }

    @media screen and (width <= 768px) {
        bottom: calc(75px + 0.5rem);
    }
}

.bottom-cta {
    @include flex(column, stretch, flex-end);

    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;

    .waypoint-marker__body.mobile {
        width: calc(100% + 1px);
        padding: 0;
        border: none;
        border-radius: 0;
        transition: none;
        transform: none;

        & > * {
            padding-inline: 1rem;
        }
    }

    .waypoint-marker__label {
        font-size: 20px;
        padding-top: 1rem;
    }

    .waypoint-marker__description {
        font-size: inherit;
    }

    .waypoint-marker__cta {
        padding-bottom: 1rem;
    }

    .waypoint-marker__cta > button {
        height: 40px;
        border-radius: 0;
        font-size: inherit;
        font-weight: 500;
    }

    .clip-wrapper {
        overflow: hidden;

        &.fill {
            width: 100%;
        }
    }

    @media screen and (width <= 768px) {
        right: 0;
        bottom: 73px;
        left: 0;
    }
}