@use "mixins" as *;

.waypoint-marker {
    $marker-size: 15px;
    $marker-active-scale: 1.2;
    $marker-pulse-time: 1.5s;
    $marker-border: white;
    $marker-bg: #f3f3f3;
    $marker-active-bg: #13c0ff;
    $marker-body-bg: #0c0c0ce0;
    $marker-body-border: #272727;
    $button-bg: #272727;
    $button-bg-prominent: #107bc2;
    $button-color: white;
    $button-color-prominent: white;
    $button-border: #3f3f3f;
    $button-border-prominent: #13c0ff;

    position: absolute;
    width: $marker-size;
    height: $marker-size;
    pointer-events: none;
    touch-action: none;
    
    &__circle {
        position: relative;
        width: $marker-size;
        height: $marker-size;
        opacity: calc(1 - var(--proximity-opacity));
        transform: translate(-50%, -50%);

        &::after {
            display: block;
            position: absolute;
            z-index: -1;
            width: $marker-size;
            height: $marker-size;
            border-radius: 50%;
            background-color: white;
            content: '';
            animation: pulse $marker-pulse-time ease-in-out infinite;
            
            @keyframes pulse {
                0% {
                    opacity: 0;
                    scale: 1;
                }

                50% {
                    opacity: 0.5;
                }

                100% {
                    opacity: 0;
                    scale: 2;
                }
            }
        }

        &::before {
            display: block;
            position: absolute;
            z-index: 10;
            width: $marker-size - 4px;
            height: $marker-size - 4px;
            border: 2px solid $marker-border;
            border-radius: 50%;
            background-color: $marker-bg;
            transition: scale 0.2s ease, background-color 0.2s ease;
            will-change: transform;
            filter: drop-shadow(0 0 5px black);
            content: '';
            cursor: pointer;
            pointer-events: inherit;
        }

        &:active::before {
            scale: 0.95;
        }

        &.selected::before {
            background-color: $marker-active-bg;
            scale: $marker-active-scale;
        }
    }

    &__body {
        gap: 0.4rem;
        width: 300px;
        height: 130px;
        padding: 0.8rem;
        border: 1px solid $marker-body-border;
        border-radius: 1rem;
        background-color: $marker-body-bg;
        box-shadow: 0 0 5px #00000073;
        backdrop-filter: blur(5px);
        transform: translate(-50%);

        @include flex(column, left, left);
    }

    &:has(.waypoint-marker__circle.selected) > &__body {
        pointer-events: all;
    }

    &__label {
        font-weight: 600;
    }

    &__description {
        color: rgb(194 194 194);
        font-size: 80%;
    }

    &__cta {
        @include flex($align: flex-end);

        gap: 0.8rem;
        flex-grow: 1;
    }

    &__cta > button {
        height: 35px;
        border: 1px solid $button-border;
        border-radius: 10px;
        background-color: $button-bg;
        color: $button-color;
        box-shadow: 0 2px 5px #00000073;
        font-family: "Instrument Sans", sans-serif;
        font-size: 14px;
        transition: scale 0.2s ease;
        flex-grow: 1;
        flex-basis: 0;
        cursor: pointer;

        &:active {
            scale: 0.98;
        }
    }

    &__cta > button.prominent {
        background-color: $button-bg-prominent;
        color: $button-color-prominent;
        border-color: $button-border-prominent;
    }
}

.waypoint-component {
    $navbar-height: 2rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    gap: 2rem;
    width: 100vw;
    height: calc(100svh - 1px);
    padding: calc($navbar-height + 2rem) 2rem;
    background: radial-gradient(circle at right bottom, #200802f5, #0c0c0cf5 50%);
    opacity: var(--proximity-opacity);
    overflow-y: auto;
    backdrop-filter: blur(5px);
    pointer-events: none;
    transform: translate(-50%, -50%) scale(var(--proximity-scale));
    contain: paint layout;

    @include flex($align: flex-start);

    main  {
        width: 1000px;
        max-width: 100%;
        font-size: 20px;
        line-height: 1.5;

        @media screen and (width <= 768px) {
            font-size: 18px;
        }
    }

    &__top {
        @include flex(row, space-between, flex-end);
    }

    &__header {
        gap: 0.5rem;
        width: 100%;
        margin-top: 1rem;
        overflow: hidden;

        @include flex(column, $align: flex-start);
    }

    &__title {
        display: inline-flex;
        align-items: center;
        height: 1em;
        font-family: "Palanquin Dark", serif;
        font-size: clamp(50px, 5cqw, 80px);
    }

    &__subtext {
        color: var(--color-secondary);
    }

    &__back {
        gap: 0.5rem;
        width: 100px;
        padding: 0.5rem 0.8rem;
        border: none;
        background-color: #ffffff07;
        color: var(--color-primary);
        font-family: "Instrument Sans", sans-serif;
        font-size: 18px;
        transition: scale 0.2s ease, background-color 0.2s ease;
        font-weight: 500;
        cursor: pointer;

        @include flex($align: center);

        &:hover {
            background-color: #ffffff10;
        }

        &:active {
            scale: 0.98;
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: white;
        opacity: 0.3;
        margin-block: 1rem;

        &.vertical {
            width: 1px;
            height: auto;
            margin: 0;
        }
    }
}

.waypoint-info {
    width: 200px;
    height: 125px;
    background-color: var(--color-background-01);

    @media screen and (width <= 480px) {
        display: none;
    }
}

.waypoint-overlay {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 10;
    font-family: Orbitron, sans-serif;
    font-size: clamp(40px, 15vw, 250px);
    pointer-events: none;
    font-weight: 900;
    line-height: clamp(40px, 12vw, 250px);
    font-kerning: none;
    text-rendering: optimizespeed;
}