@use "mixins" as *;

.waypoint-marker {
    $width: 50px;
    $marker-size: 15px;
    $marker-active-scale: 1.2;
    $marker-pulse-time: 1.5s;
    $marker-border: white;
    $marker-bg: #f3f3f3;
    $marker-active-bg: #13c0ff;
    $marker-body-bg: #0c0c0ce0;
    $marker-body-border: #272727;
    $button-bg: #272727;
    $button-bg-prominent: #107bc2;
    $button-color: white;
    $button-color-prominent: white;
    $button-border: #3f3f3f;
    $button-border-prominent: #13c0ff;

    position: absolute;
    width: $width;
    pointer-events: none;
    
    &__circle {
        position: relative;
        width: $marker-size;
        height: $marker-size;
        opacity: calc(1 - var(--proximity-opacity));
        transform: translate(-50%, -50%);

        &::after {
            display: block;
            position: absolute;
            z-index: -1;
            width: $marker-size;
            height: $marker-size;
            border-radius: 50%;
            background-color: white;
            content: '';
            animation: pulse $marker-pulse-time ease-in-out infinite;
            
            @keyframes pulse {
                0% {
                    opacity: 0;
                    scale: 1;
                }

                50% {
                    opacity: 0.5;
                }

                100% {
                    opacity: 0;
                    scale: 2;
                }
            }
        }

        &::before {
            display: block;
            position: absolute;
            z-index: 10;
            width: $marker-size - 4px;
            height: $marker-size - 4px;
            border: 2px solid $marker-border;
            border-radius: 50%;
            background-color: $marker-bg;
            transition: scale 0.2s ease, background-color 0.2s ease;
            will-change: transform;
            filter: drop-shadow(0 0 5px black);
            content: '';
            cursor: pointer;
            pointer-events: all;
        }

        &:active::before {
            scale: 0.95;
        }

        &.selected::before {
            background-color: $marker-active-bg;
            scale: $marker-active-scale;
        }
    }

    &__body {
        gap: 0.4rem;
        width: 300px;
        height: 130px;
        padding: 0.8rem;
        border: 1px solid $marker-body-border;
        border-radius: 1rem;
        background-color: $marker-body-bg;
        box-shadow: 0 0 5px #00000073;
        backdrop-filter: blur(5px);
        transform: translate(-50%);

        @include flex(column, left, left);
    }

    &:has(.waypoint-marker__circle.selected) > &__body {
        pointer-events: all;
    }

    &__label {
        font-weight: 600;
    }

    &__description {
        color: rgb(194 194 194);
        font-size: 80%;
    }

    &__cta {
        @include flex($align: flex-end);

        gap: 0.8rem;
        flex-grow: 1;
    }

    &__cta > button {
        height: 35px;
        border: 1px solid $button-border;
        border-radius: 10px;
        background-color: $button-bg;
        color: $button-color;
        box-shadow: 0 2px 5px #00000073;
        font-family: "Instrument Sans", sans-serif;
        font-size: 14px;
        transition: scale 0.2s ease;
        flex-grow: 1;
        flex-basis: 0;
        cursor: pointer;

        &:active {
            scale: 0.98;
        }
    }

    &__cta > button.prominent {
        background-color: $button-bg-prominent;
        color: $button-color-prominent;
        border-color: $button-border-prominent;
    }
}

.waypoint-component {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    background: #0c0c0cf5;
    opacity: var(--proximity-opacity);
    backdrop-filter: blur(5px);
    pointer-events: none;
    transform: translate(-50%, -50%) scale(var(--proximity-scale));

    @include flex($align: flex-start);

    &__body {
        max-width: 1200px;
    }
}