:root {
    /* Colors */
    --color-background: #0c0c0c;
    --color-background-transparent: #1616167c;
    --color-background-darker: #131313;
    --color-background-01: #222222;
    --color-background-02: #2b2b2b;
    --color-background-03: #363636;
    --color-border: #2e2e2e;
    --color-border-darker: #1d1d1d;
    --color-border-01: #3f3f3f;
    --color-border-02: #505050;
    --color-border-03: #646464;
    --color-primary: #f3f3f3;
    --color-secondary: #a0a0a0;
    --color-text-dark: #2b2b2b;
    --color-accent: #4978c4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-primary);
    font-family: "Nunito", serif;
}

body {
    background-color: var(--color-background);
    min-height: 100vh;
    overflow-x: hidden;
}