@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 100 800;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    /* Colors */
    --color-background: #0c0c0c;
    --color-background-transparent: #0808087c;
    --color-background-darker: #1b1b1b;
    --color-background-01: #222222;
    --color-background-02: #2b2b2b;
    --color-background-03: #363636;
    --color-border: #2e2e2e;
    --color-border-darker: #1d1d1d;
    --color-border-01: #3f3f3f;
    --color-border-02: #505050;
    --color-border-03: #646464;
    --color-border-accent: #253042;
    --color-primary: #f3f3f3;
    --color-secondary: #a0a0a0;
    --color-text-dark: #2b2b2b;
    --color-accent: #4978c4;
    --color-accent-01: #6f9ce4;
    --color-accent-02: #9bc1ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-primary);
    font-family: "JetBrains Mono", Arial, Helvetica, sans-serif;
    
    -webkit-tap-highlight-color: transparent;
}

html {
    scrollbar-width: none;
}

body {
    background-color: var(--color-background);
    min-height: 100vh;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    cursor: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

body.touch {
    cursor: pointer;
}

.scrollbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-background-01);
    height: 3px;
    transform-origin: left center;
}

.scroll-progress {
    will-change: width;
    /* transition: width 0.15s ease-out; */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-accent);
    transform-origin: left center;
    will-change: transform;
    transition: transform 0.1s ease-out;
}