@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono/JetBrainsMono-VariableFont.ttf") format("truetype");
    font-weight: 100 800;
    font-display: swap;
}

@font-face {
    font-family: "Instrument Sans";
    src: url("/fonts/InstrumentSans/InstrumentSans-VariableFont.ttf") format("truetype");
    font-weight: 100 800;
    font-display: swap;
}

:root {
    /* Colors */
    --color-background: #0c0c0c;
    --color-background-transparent: #0808087c;
    --color-background-darker: #050505;
    --color-background-01: #1a1a1a;
    --color-background-02: #2b2b2b;
    --color-background-03: #363636;
    --color-border: #2e2e2e;
    --color-border-darker: #1d1d1d;
    --color-border-01: #3f3f3f;
    --color-border-02: #505050;
    --color-border-03: #646464;
    --color-border-accent: #253042;
    --color-primary: #f3f3f3;
    --color-secondary: #a0a0a0;
    --color-text-dark: #1b1b1b;
    --color-accent: #4978c4;
    --color-accent-01: #6f9ce4;
    --color-accent-02: #9bc1ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background: var(--color-accent);
    color: var(--color-text-dark);
}

*::selection {
    background: var(--color-accent);
    color: var(--color-text-dark);
}

*::-webkit-selection {
    background: var(--color-accent);
    color: var(--color-text-dark);
}

html {
    scrollbar-width: none;
}

body {
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: "Instrument Sans", sans-serif;
    overflow-x: hidden;
    cursor: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

body.touch {
    cursor: pointer;
}

button {
    cursor: none;
}

