@use "cursor";
@use "loader";
@use "navbar";
@use "footer";
@use "mixins" as *;

.hero {
    @include flex(column, center, center);

    height: 100vh;
    min-height: 700px;
    position: relative;
    width: 100%;
    padding: 1rem;

    &__content {
        @include flex(column, flex-start, center);

        gap: 1rem;
        position: relative;
        z-index: 2;

        font-family: "JetBrains Mono", monospace;
        text-align: center;
        text-shadow: 0 2px 5px black;

        h1 {
            flex-grow: 1;
            width: 100%;
            height: clamp(100px, 10vw, 150px);
            text-transform: uppercase;
            font-size: clamp(4rem, 6cqw, 6rem);
            line-height: 1;
            font-weight: bold;
            text-shadow: none;
            filter: drop-shadow(0px 2px 2px black);

            svg { height: 100%; width: 100%; }
        }

        .subtext > .hero__professions{
            font-size: clamp(1.2rem, 1.5cqw, 1.5rem);
            font-weight: bold;
        }

        .subtext > p {
            font-size: max(1cqw, 0.8rem);
            color: var(--color-secondary);
        }
    }

    &__professions {
        @include flex(column);

        white-space: nowrap;
        // gap: 0.7rem;

        .separator {
            color: var(--color-secondary);
            font-size: 14px;
        }

        .profession {
            color: #60a5fa; 
        }
    }

    @media screen and (min-width: 400px) {
        &__professions {
            flex-direction: row;
            gap: 0.7rem;
        }
    }

    &__scroll-indicator {
        --idx: 0;

        @include flex(column);

        position: absolute;
        bottom: 2rem;

        .indicator-arrow {
            height: 14px;
        }

        svg {
            color: var(--color-secondary);
            animation: scroll-indicate 2.2s ease infinite;
            animation-delay: calc(var(--idx) * 0.15s);
        }
    }

    @keyframes scroll-indicate {
        0% { transform: translateY(0); opacity: 0; }
        50% { transform: translateY(10px); opacity: 1; }
        90% { transform: translateY(10px); opacity: 0; }
        100% { transform: translateY(10px); opacity: 0; }
    }

    &__background {
        pointer-events: none;
        position: absolute;
        inset: 0;
        overflow: hidden;
        background-image: 
            repeating-linear-gradient(0deg, var(--color-background-darker) 0px, var(--color-background-darker) 1px, transparent 1px, transparent 40px),
            repeating-linear-gradient(90deg, var(--color-background-darker) 0px, var(--color-background-darker) 1px, transparent 1px, transparent 40px),
            repeating-linear-gradient(0deg, var(--color-background-darker) 0px, var(--color-background-darker) 2px, transparent 2px, transparent 160px),
            repeating-linear-gradient(90deg, var(--color-background-darker) 0px, var(--color-background-darker) 2px, transparent 2px, transparent 160px);
        
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: cover;

        mask-image: 
            radial-gradient(circle, var(--color-background) 10%, transparent 100%),
            linear-gradient(to bottom, transparent 0%, var(--color-background) 20%, var(--color-background) 80%, transparent 100%);

        -webkit-mask-composite: intersect; /* safari/chrome */
        mask-composite: intersect;         /* firefox */

        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;

    }

    &__background::before {
        content: "";
        inset: 0;
        pointer-events: none;
        position: absolute;
        background-image: 
            radial-gradient(circle at 0% -50%, #a27de6a0, transparent 50%),
            radial-gradient(circle at 100% 150%, #adc9e97a, transparent 50%);
    }

    &__metadata {
        @include flex(column, center, center);
        gap: 0.5rem;
        position: absolute;
        bottom: 8rem;
        color: var(--color-secondary);

        svg { fill: var(--color-secondary); }

        div {
            @include flex();
            text-align: center;
            gap: 0.5rem;
            color: var(--color-secondary);

            svg { fill: var(--color-secondary); }
        }
    }

    &__lights {
        pointer-events: none;
        position: absolute;
        top: -300px;
        left: 40%;
        z-index: 1;
        width: 700px;
        height: 1200px;
        background:
            radial-gradient(
                ellipse 15% 100% at 45% 20%,
                #aa79f9,
                transparent 55%
            ),
            radial-gradient(
                ellipse 2% 100% at 39% 10%,
                #5eead4,
                transparent 55%
            ),
            radial-gradient(
                ellipse 10% 120% at 32% 30%,
                #60a5fa,
                transparent 55%
            ),
            radial-gradient(
                ellipse 1% 300% at 28% 10%,
                white,
                transparent 55%
            ),
            radial-gradient(
                ellipse 2% 100% at 26% 10%,
                #60a5fa,
                transparent 55%
            ),
            radial-gradient(
                ellipse 10% 100% at 25% 20%,
                #aa79f9,
                transparent 55%
            ),
            radial-gradient(
                ellipse 2% 200% at 23% 10%,
                white,
                transparent 55%
            ),
            radial-gradient(
                ellipse 10% 120% at 22% 30%,
                #60a5fa,
                transparent 55%
            ),
            radial-gradient(
                ellipse 10% 80% at 10% 50%,
                #aa79f9,
                transparent 55%
            ),
            radial-gradient(
                ellipse 2% 100% at 3% 10%,
                #5eead4,
                transparent 55%
            ),
        ;
        opacity: 0.5;
        content: "";
        filter: blur(10px);
        transform: rotate(-35deg);
        background-repeat: no-repeat;
    }

    .contact {
        @include flex;

        color: var(--color-secondary);
        gap: 0.3rem;
        margin-top: 1rem;
        white-space: nowrap;
        cursor: none;
        width: 150px;
        font-family: "Instrument Sans", sans-serif;
        background-color: rgba(0, 0, 0, 0.61);
        border: 1px solid var(--color-border-02);
        padding: 0.6rem 2rem;
        border-radius: 5px;
        backdrop-filter: blur(4px);

        svg {
            width: 18px;
            height: 18px;
            flex-shrink: 0;
            padding-top: 1px;
            pointer-events: none;
        }

        path {
            stroke: var(--color-secondary) !important;
        }
    }
}

section {
    padding: 4rem 1rem;
    max-width: calc(1300px + 2rem);
    margin-inline: auto;

    header {
        @include flex($justify: flex-start, $align: flex-end);

        position: relative;
        border-bottom: 1px solid var(--color-border);
        margin-bottom: 1rem;

        .idx {
            // z-index: -1;
            // position: absolute;
            font-family: "JetBrains Mono", monospace;
            font-size: 20px;
            // top: -1.5rem;
            // left: -1rem;
            // right: 100%;
            margin-bottom: 0.4rem;
            color: #ffffff33;
        }

        .title {
            text-shadow: 0 2px 5px black;
            font-size: 48px;
        }
    }

    .content {
        @include flex(column, flex-start, stretch);

        gap: 2.5rem;

        .intro {
            @include flex(column, flex-start, stretch);

            gap: 0.5rem;
            color: var(--color-secondary);
        }

        h3 {
            font-weight: 500;
            color: var(--color-primary);
        }

        .events {
            @include flex(column, flex-start, stretch);

            gap: 1rem;
            
            &__header {
                @include flex($justify: flex-start);
                gap: 0.75rem;
                width: fit-content;
                position: relative;
            }
            
            &__icon {
                position: absolute;
                width: 40px;
                height: 40px;
                top: -0.5rem;
                right: -1rem;
                color: #ffffff18;
                flex-shrink: 0;
            }
            
            &__title {
                font-size: 24px; // slightly smaller, less overwhelming
                font-weight: 600;
            }

            &__items {
                @include flex(column, flex-start, stretch);
                gap: 1rem;
            }
        }

        .event-item {
            @include flex($justify: space-between, $align: center);

            @media (max-width: 768px) {
                @include flex(column, flex-start, center);
            }

            background-color: #ffffff09;
            gap: 1rem;
            padding: 0.5rem;
            border-radius: 0.5rem;

            &__body {
                @media (max-width: 768px) {
                    text-align: center;
                }
            }
            
            &__title {
                font-weight: 500;
                font-size: 16px;
            }
            
            &__timespan {
                font-size: 12px;
                white-space: nowrap;
                background-color: #a27de6a0;
                width: fit-content;
                padding: 0.1rem 0.5rem;
                border-radius: 0.5rem;
            }
            
            &__description {
                color: var(--color-secondary);
                font-size: 14px;
            }
        }
    }
}